# 데이터베이스 다루기
## 테이블 만들고 변경하기
### 데이터베이스, 테이블, 컬럼이름 정하기 규칙
    1. 문자, 숫자, _ 를사용합니다.
    2. 이름에 쓰이는 문자는 주로 영문 소문자를사용합니다.
        • 한글도 사용은 가능하지만 인코딩 이슈로 주로 영문사용
        • 보통 키워드나 함수명은 대문자, 사용자가 정의한 이름에는 소문자 사용
    3. 예약어는 사용할 수 없습니다.
        • 예약어: 이미키워드, 함수명 등의 문법적인 용도로 사용되고 있기 때문에 이름으로 사용할 수 없는단어
        • MySQL 8.0 예약어리스트
    4. 단어와 단어 사이에는 빈칸 대신_ 를 사용합니다.
    5. 문자로 시작합니다.
        • 숫자, _ 로 시작하지 않습니다.
    6. 데이터베이스 이름은 중복될 수 없습니다.
        • 테이블 이름은 하나의 데이터베이스내에서는 중복될 수 없습니다.
        • 컬럼 이름은 하나의 테이블 내에서는 중복될 수없습니다.
        
### 데이터 베이스 만들기
- CREATE DATABASE[데이터베이스 이름];

### 데이터베이스 목록보기
- SHOW DATABASES;
- 현재 존재하는 모든 데이터베이스 목록을 보여주세요 

### 데이터베이스 사용하기
- USE[데이터베이스 이름];
- 이제부터 [데이터베이스 이름]을 사용하겠습니다.

### 테이블 만들기
-   
CREATE TABLE [테이블이름] (  
        [컬럼이름] [데이터타입],  
        [컬럼이름] [데이터타입],  
        …  
);

- ex)  
CREATE TABLE 수강생(
        이름VARCHAR(20),
        나이INT,
        소속VARCHAR(50)
);

### 테이블 이름 변경하기
- ALTER TABLE [테이블이름] RENAME [새로운테이블이름];   
  ex) ALTER TABLE costomor RENAME customers;

### 새로운 컬럼 추가하기
- ALTER TABLE [테이블이름] ADD COLUMN [컬럼이름] [데이터타입];

### 기존컬럼타입변경하기
- ALTER TABLE [테이블이름] MODIFY COLUMN [컬럼이름] [새로운데이터타입];

### 기존컬럼이름과타입변경하기
- ALTER TABLE [테이블이름]  
CHANGE COLUMN [컬럼이름] [새로운컬럼이름] [새로운데이터타입];

### 컬럼지우기
- ALTER TABLE [테이블이름] DROP COLUMN [컬럼이름];

## 테이블 지우기

### 데이터베이스 지우기
- DROP DATABASE [데이터베이스이름];

### 테이블 지우기
- DROP TABLE [테이블이름];

### 테이블 값만 지우기
- TRUNCATE TABLE [테이블이름];

### 데이터베이스/테이블이 존재한다면 지우기
- DROP DATABASE IF EXISTS [데이터베이스이름];  
[데이터베이스이름]데이터베이스가존재한다면지워주세요.
- DROP TABLE IF EXISTS [테이블이름];  
[테이블이름]테이블이존재한다면지워주세요.

## 데이터삽입, 삭제, 수정하기

### 데이터 하나 삽입하기
- INSERT INTO [테이블이름] ([컬럼1이름], [컬럼2이름], [컬럼3이름])  
VALUES ([컬럼1값], [컬럼2값], [컬럼3값]);

### 데이터 여러 개 삽입하기
- INSERT INTO [테이블이름] ([컬럼1이름], [컬럼2이름], [컬럼3이름])  
VALUES ([컬럼1값], [컬럼2값], [컬럼3값]),  
        ([컬럼1값], [컬럼2값], [컬럼3값]),    
        …    
        ([컬럼1값], [컬럼2값], [컬럼3값]);

### 데이터 삭제하기
- DELETE FROM[테이블이름]  
WHERE [조건값];

### 데이터수정하기
- UPDATE [테이블이름]  
SET [컬럼이름] = [새값]  
WHERE [조건값];